/TestBowlingScoreTracker/bin
/TestBowlingScoreTracker/obj
/.vs/BowlingScoreTracker/v16/Server/sqlite3
*.dtbcache~Documentation
*.suo~Documentation
*.suo~Documentation_0
*.suo
/.vs/BowlingScoreTracker/v16/TestStore/0
